name: Publish

on:
  push:
    branches:
      - master

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          # registry-url: https://npm.pkg.github.com/
          # scope: "@rxdi"
      - run: npm install
      - run: git config --global user.email 'kristiqn.tachev@gmail.com'
      - run: git config --global user.name "Kristiyan Tachev"
      - run: npm config set '//registry.npmjs.org/:_authToken' "${{secrets.NPM_TOKEN}}"
      - run: rm -rf dist && tsc && cp -r ./dist/* . && npm version patch && npm publish --update-readme --access public
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
